@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');

/* big stuff */

table.table.auto > tbody {
   background-color: rgba(255,255,255,0.1) !important;
    color: #CDCAF8;
    border-radius: 7px 7px 7px 7px !important;
}

div.feature {
   background: rgba(0, 0, 0, 0.1) !important;
}

.table.auto {
     border-radius: 7px 7px 7px 7px !important;
}
center > .table .top {
    color: #242D7A !important;
}

center > .table th  {
    color: #242D7A !important;
}

.glyphicon-remove {
    background: rgba(0,0,0,0.1) !important;
    color: #4055AA !important;
}

td > input {
     background: #9984EB !important;
}

* {
    text-transform: lowercase !important;
	border: none !important;
    text-shadow: none !important;
}

body {
background: url(https://github.com/merbi7/lion-game/blob/main/night.jpg?raw=true) top center fixed;
background-size: cover;
color: #CDCAF8 !important;
font-family: "Pixelify Sans", sans-serif !important;
}

.container.main {
   background-color: rgba(255,255,255,0.1) !important;
	box-shadow: #121355 0px 0px 70px !important;
    border-radius: 7px 7px 7px 7px !important;
}

.col-md-9 {
    background-color: rgba(1,0,255,0);
}
#frmGifting .table {
    background-color: rgba(1,0,255,0) !important;
}

/* headings */

h1 {
    color: #4055AA;
    text-align: center;
    font-size: 50px;
	z-index: 2 !important;
    position: relative;
}

h2 {
    color: #4055AA !important;
}

h3 {
    color: #4055AA !important;
}

/* navbar */

.navbar {
    background-color: #121355;
    border-radius: 7px 7px 0px 0px !important;
    
}

.navbar li a {
    color: #6A71BC !important;
    -webkit-transition: color ease-in-out 777ms;
    font-size: 20px !important;
    display: flex !important;
    padding-left: 50px !important;
}

.navbar li a:hover {
    background: #121355 !important;
    -webkit-transition: color ease-in-out 777ms;
    color: #9984EB !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

/* breadcrumb */


.breadcrumb {
    background-color: #121355;
    border-radius: 7px 7px 7px 7px !important;
    
}

.breadcrumb > li {
    color: #4055AA !important;
}

/* side panels */

.panel {
    background-color: #121355 !important;
    color: #CDCAF8 !important;
    box-shadow: none !important;
    border-radius: 7px 7px 7px 7px !important;
    
}

.progress div {
    color: #4055AA !important;
}

.progress-bar {
    background: #242D7A;
    border-radius: 7px 7px 7px 7px !important;
}

.progress {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 7px 7px 7px 7px !important;
}


.panel-default .small {
    color: #4055AA !important;
}


.col-xs-12 .visible-lg .small {
    color: #4055AA !important;
}

div.panel-body.small {
    color: #4055AA !important;
}

.b.floatleft {
    color: #4055AA !important;
}


.b.floatright {
    color: #4055AA !important;
}

/* topbar */

.topbar {
    background-color: #121355;
    color: #4055AA !important;
    font-size: 20px;
    height: 50px;
    border-radius: 0px 0px 7px 7px !important;
}

@media screen and (max-width: 700px) {
  .topbar {
      font-size: 15px;
  }
}

/* links */

a {
    color: #6A71BC !important;
    -webkit-transition: color ease-in-out 777ms;
}

.breadcrumb a {
    color: #6A71BC !important;
    -webkit-transition: color ease-in-out 777ms;
}

.breadcrumb>li+li:before {
    color: #4055AA !important;
}

a:hover {
   -webkit-transition: color ease-in-out 777ms;
    color: #9984EB !important;
}

/* comment box */

#commentBox {
   background-color: rgba(255,255,255,0.1) !important;
    border-radius: 7px 7px 7px 7px !important;
}

#comment {
    border-radius: 7px 7px 7px 7px !important;
}

.xlarge.b {
    color: #242D7A !important;
}

#commentBox::before {
color: #4055AA;
display: block;
padding: 7px !important;
font-size: 24px;
}

div#commentBox {
height: 45px;
overflow-y: hidden !important;
transition: 1s;
}

#commentBox:hover {
height: 300px !important;
transition: 1s;
overflow: auto !important;
}

#comment {
      background: #9984EB !important;
}

input#comment {
    color: #CDCAF8 !important;
}

/* buttons and text boxes */

select {
    border-radius: 7px 7px 7px 7px !important;
}

#editdetailspanel .right input {
      background: #9984EB !important;
}

select {
      background: #9984EB !important;
}

button.button {
     border-radius: 7px 7px 7px 7px !important;
}

input {
     border-radius: 7px 7px 7px 7px !important;
}

#changepasswordpanel .right input {
      background: #9984EB !important;
}

.button {
    background: rgba(0,0,0,0.1) !important;
    color: #CDCAF8 !important;
}

input {
    border-radius: 7px 7px 7px 7px !important;
    background: rgba(0,0,0,0.1) !important;
    color: #CDCAF8 !important;
}

textarea {
   background: #9984EB !important; 
    border-radius: 7px !important;
}

select {
    border-radius: 7px 7px 7px 7px !important;
    background: rgba(0,0,0,0.1) !important;
    color: #CDCAF8 !important;
}

option:checked {
  background: #242D7A !important;
}

option:hover {
  background: #242D7A !important;
}

center > .table th {
    color: #CDCAF8 !important;
}
/* panel bars */

.top, th {
    background-color: #121355 !important; !important;
    border-radius: 7px 7px 0px 0px !important;
}    

.bottom, th {
    border-radius: 0px 0px 7px 7px !important;
}

#about .bottom {
    background-color: #121355;
    color: #4055AA !important;
}

#player .top {
    background-color: #121355;
    color: #CDCAF8;
}

#sparring th {
    background-color: #121355;
    color: #242D7A !important;
    border-radius: 7px 7px 0px 0px !important;
}

#allies .top {
    background-color: #121355 !important; !important;
    color: #242D7A !important;
}

#allies .bottom {
    background-color: #121355;
}

#clans .top {
    background-color: #121355;
    color: #CDCAF8;
}

.table > tbody > tr > th {
    background-color: #121355;
    color: #CDCAF8;
    border-radius: 7px 7px 0px 0px !important;
}

#editdetailspanel .bottom {
    background-color: #121355;
    color: #CDCAF8;
}

#accountoptionspanel .bottom {
    background-color: #121355;
    color: #CDCAF8;
}

#changepasswordpanel .bottom {
    background-color: #121355;
}

table .bottom {
    background-color: #121355 !important; !important;
    border-radius: 0px 0px 7px 7px !important;
}

/* main lion panel */

#about {
   background-color: rgba(255,255,255,0.1) !important;
    border-radius: 7px 7px 7px 7px !important;
}

#about .left {
    background-color: #121355;
    color: #CDCAF8;
    border-radius: 7px 0px 0px 7px !important;
}

#about .auto .right {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0px 7px 7px 0px !important;
}

#about .left b {
    color: #4055AA !important;
}

.xlarge.b > :nth-child(1) {
    font-size: 18px !important;
}

.xlarge.b {
    font-size: 0px;
}

.xlarge.b::after {
    content: ', the silly' !important;
    font-size: 18px;
}

/* player panel */

#player {
   background-color: rgba(255,255,255,0.1) !important;
    border-radius: 7px 7px 7px 7px !important;
}

#player .left {
    background-color: #121355;
    color: #CDCAF8;
}

#player .auto .right {
    background: rgba(0, 0, 0, 0.1);
}

hr {
    display: none !important;
}

.top > small {
    color: #242D7A !important;
}


#player b {
    color: #4055AA !important;
}

#player > tbody > tr.right > :nth-child(1) > table.inner-table.auto > tbody > tr > :nth-child(5) {
    font-size: 0px;
}

#player > tbody > tr.right > :nth-child(1) > table.inner-table.auto > tbody > tr > :nth-child(5)::after {
    content: 'too recently';
    font-size: 14px;
}

.top .floatright {
    color: #242D7A !important;
}

.xlarge .text-muted {
    color: rgba(0,0,0,0) !important;
}

.member-offline {
    background: rgba(0,0,0,0.1) !important;
}

.member-online {
    background: #547e96 !important;
}

/* caves and mounds */

.cave-grid {
    color: #4055AA !important;
    background-color: #121355;
    border-radius: 7px 7px 7px 7px !important;
}

.mound-grid {
    color: #4055AA !important;
    background-color: #121355;

}

/* bottom panels */

#sparring > tbody > tr > td.right_odd {
    display: block !important;
    background: rgba(0, 0, 0, 0.1);
}

#sparring {
   background-color: rgba(255,255,255,0.1) !important;
    border-radius: 7px 7px 7px 7px !important;
}

.right_odd {
    display: none !important;
}

.table .right_odd {
    display: none !important;
}

#allies {
   background-color: rgba(255,255,255,0.1) !important;
    border-radius: 7px 7px 7px 7px !important;
}

#clans {
   background-color: rgba(255,255,255,0.1) !important;
    border-radius: 7px 7px 7px 7px !important;
}

#clans .left {
    background: rgba(0, 0, 0, 0) !important;
}

form div.left {
     background-color: #121355;
}

/* dynasty and stuff */

.dynastylist .left {
    background-color: #121355;
}

.col .left {
    background-color: #121355;
	
}

.left img {
    border-radius: 7px 7px 7px 7px !important;
}

/* reclaim */

.b.center {
    background: rgba(0,0,0,0.1);
}

table#reclaim.table {
    background-color: rgba(255,255,255,0.1) !important;
    border-radius: 7px;
}

/* settings */

#editdetailspanel .table {
   background-color: rgba(255,255,255,0.1) !important;
	border-radius: 0px 0px 7px 7px;
}

#editdetailspanel .b {
    background: rgba(0, 0, 0, 0.1);
    color: #CDCAF8 !important;
}

#accountoptionspanel .table {
   background-color: rgba(255,255,255,0.1) !important;
    border-radius: 0px 0px 7px 7px !important;
}

#accountoptionspanel .left {
    background: rgba(0, 0, 0, 0.1);
}

.item-header {
    background-color: #121355;
    color: #4055AA !important;
}

.floatleft.small {
   background: rgba(0, 0, 0, 0.1);
}

#changepasswordpanel .b {
    background: rgba(0, 0, 0, 0.1);
	color: #CDCAF8 !important;
}

#changepasswordpanel .table {
   background-color: rgba(255,255,255,0.1) !important;
    border-radius: 0px 0px 7px 7px !important;
}

input:checked + .slider {
   background: #242D7A !important;
}

.slider {
    background: rgba(0,0,0,0.1) !important;
}

.slider.round::before {
    background: rgba(0,0,0,0.1) !important;
}

/* don't remember genuinely */

small.text-muted {
    color: #CDCAF8 !important;
}

/* chat */

div#chatMessageContainer {
	color: #CDCAF8 !important;
}

/* attack */

#attack {
   background-color: rgba(255,255,255,0.1) !important;
    border-radius: 7px 7px 7px 7px !important;
}

#attack .bottom {
    background-color: #121355 !important; !important;
}

/* bottom text  */

.white.visible-sm {
    color: #4055AA !important;
    text-shadow: none !important;
}

.white.visible-xs {
    color: #4055AA !important;
    text-shadow: none !important;
}

.clear.visible-sm {
	 color: #4055AA !important;
}

/* alerts */

.alert {
    background: rgba(0, 0, 0, 0.1) !important;
    border-radius: 7px 7px 7px 7px !important;
    color: #CDCAF8 !important;
}


#clans .top {
    color: #242D7A !important;
}


form th {
    color: #242D7A !important;
}

/* box */

.boxcontainer {
display: flex;
justify-content: center;
align-items: center;
margin: auto;
border-radius: 7px 7px 7px 7px !important;
}

.coolbox {
width: 330px;
height: 115px;
overflow: hidden;
background-color: #121355 !important;
transition: width 1s, height 2s;
border-radius: 7px 7px 7px 7px !important;
color: #4055AA !important;
margin: 20px;
margin-bottom: auto;
    -webkit-transition: background-color ease-in-out 777ms !important;
}

.coolbox2 {
width: 250px;
height: 115px;
overflow: hidden;
background-color: #121355 !important;
transition: width 1s, height 2s;
border-radius: 7px 7px 7px 7px !important;
color: #4055AA !important;
margin: 20px;
margin-bottom: auto;
    -webkit-transition: background-color ease-in-out 777ms !important;
}

/* scrollbars */

::-webkit-scrollbar {
  width: 10px !important;
  border: none !important;
    background-color: #121355 !important; !important;
}

div::-webkit-scrollbar {
  width: 10px !important;
  border: none !important;
    background-color: #121355 !important; !important;
    border-radius: 7px !important;
}

textarea::-webkit-scrollbar {
  width: 10px !important;
  border: none !important;
    background-color: #121355 !important; !important;
    border-radius: 7px !important;
}

::-webkit-scrollbar-track {
  background-color: #121355;
    border-radius: 7px !important;
}

::-webkit-scrollbar-thumb {
  background: #242D7A;
     border-radius: 7px !important;
}

::-webkit-scrollbar-corner {
    background-color: #121355;
}

#commentBox::-webkit-scrollbar {
    display: none !important;
}

/* images */

.lion-image-block img {
    border-radius: 7px 7px 7px 7px !important;
}

.right .right img {
content: url("");
    max-width: 100px;
}

.lion-image-block[data-image-type="headshot"] {
	border-radius: 7px 7px 7px 7px !important;
}

.cave-grid img {
    border-radius: 7px 7px 0px 0px !important;
    content: url("https://github.com/merbi7/lion-game/blob/main/box_center.png?raw=true");
	max-width: 150px !important;
}

a[href$="unsorted.php?id=284672"]> div.cave-grid > img {
content: url("https://github.com/merbi7/lion-game/blob/main/box_simple.png?raw=true") !important;
}

a[href$="lionoverview.php?id=284672"] > div.cave-grid > img {
content: url("https://github.com/merbi7/lion-game/blob/main/box_savanna.png?raw=true") !important;
}

a[href$="255312"]>div.cave-grid>img {
content: url("https://github.com/merbi7/lion-game/blob/main/box_cave.png?raw=true") !important;
}

a[href$="462379"]>div.cave-grid>img {
content: url("https://github.com/merbi7/lion-game/blob/main/box_cave.png?raw=true") !important;
}

a[href$="473166"]>div.cave-grid>img {
content: url("https://github.com/merbi7/lion-game/blob/main/box_cave.png?raw=true") !important;
}

.mound-grid img {
    border-radius: 7px 7px 7px 7px !important;
    content:url("https://github.com/merbi7/lion-game/blob/main/bug.png?raw=true");
}

.bigger img {
    border-radius: 7px 7px 7px 7px !important;
}

.navbar-brand img {
	display: inherit !important;
    content: url("https://github.com/merbi7/lion-game/blob/main/solgaleo.png?raw=true") !important;
    margin-left: -20px;
    margin-top: -10px;
    position: absolute;
    max-height: 100px;
    transform: scalex(-1);
}

.birb {
    position: relative;
    z-index: 1;
    bottom: 170px;
    left: 300px;
}

.birb img {
    max-height: 100px !important;
}

table#player img {
	border-radius: 7px !important;
}

@media screen and (max-width: 700px) {
  .birb {
    visibility: hidden;
    display: none;
  }
}

.koi {
    position: relative;
    bottom: 340px !important;
    left: -30px !important;
    max-width: 0px !important;
    max-height: 0px !important;
    z-index: 1;
}

/* chatbox */

div#txtChatContainer > div > span > a {
    color: #6A71BC !important;
    -webkit-transition: color ease-in-out 777ms;
}

div#txtChatContainer > div > span > a::hover {
    color: #9984EB !important;
    -webkit-transition: color ease-in-out 777ms;
}

input#txtChatInput {
    background: #9984EB !important;
    color: #CDCAF8 !important;
}

input#btnChatSend {
   background-color: rgba(255,255,255,0.1) !important;
    color: #CDCAF8 !important;
}

div#chatMessageContainer {
	border-radius: 7px 7px 7px 7px !important;
   background-color: rgba(255,255,255,0.1) !important;
    color: #CDCAF8 !important;
}

.s-chat-message:nth-child(even) {
	background-color: rgba(0,0,0,0.1) !important;
    color: #CDCAF8 !important;
}
.s-chat-message:nth-child(odd) {
	background: rgba(0, 0, 0, 0.1) !important;
    color: #CDCAF8 !important;
}
.s-chat-message__pinned {
	background-color: #121355 !important; !important;
    color: #242D7A !important;
}
.s-chat-message_timestamp {
    color: #CDCAF8 !important;
}

div.channelMenu {
    background: rgba(0, 0, 0, 0.1) !important;
    color: #CDCAF8 !important;
}











