@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');

/* big stuff */

table.table.auto > tbody {
   background-color: rgba(255,255,255,0.1) !important;
    color: #667dab;
    border-radius: 7px 7px 7px 7px !important;
}

div.feature {
   background: rgba(0, 0, 0, 0.1) !important;
}

.table.auto {
     border-radius: 7px 7px 7px 7px !important;
}
center > .table .top {
    color: #aee762 !important;
}

center > .table th  {
    color: #aee762 !important;
}

.glyphicon-remove {
    background: rgba(0,0,0,0.1) !important;
    color: #f3f7fc !important;
}

td > input {
     background: #d9dff7 !important;
}

* {
    text-transform: lowercase !important;
	border: none !important;
    text-shadow: none !important;
}

body {
background: url(https://external-preview.redd.it/Ga24Es10Ast8ng42qrU-odZUfHMR6d8Ceofmbwy5rWw.jpg?auto=webp&s=617176bbdf15f717b2a77e448a3cdcb3a944a23c) top center fixed;
background-size: cover;
color: #667dab !important;
font-family: "Pixelify Sans", sans-serif !important;
}

.container.main {
   background-color: rgba(255,255,255,0.1) !important;
    box-shadow: none !important;
    box-shadow: rgba(17,17,17,0.07) 0px 30px 90px 30px inset !important;
    border-radius: 7px 7px 7px 7px !important;
}

.col-md-9 {
    background-color: rgba(1,0,255,0);
}




/* headings */

h1 {
    color: #f3f7fc;
    text-align: center;
    font-size: 50px;
}

h2 {
    color: #f3f7fc !important;
}

h3 {
    color: #f3f7fc !important;
}

/* navbar */

.navbar {
    background-color: #6a92f2;
    border-radius: 7px 7px 0px 0px !important;
    
}

.navbar li a {
    color: #b0def8 !important;
    -webkit-transition: color ease-in-out 777ms;
    font-size: 20px !important;
    display: flex !important;
    padding-left: 50px !important;
}

.navbar li a:hover {
    background: #6a92f2 !important;
    -webkit-transition: color ease-in-out 777ms;
    color: #d9dff7 !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

/* breadcrumb */


.breadcrumb {
    background-color: #6a92f2;
    border-radius: 7px 7px 7px 7px !important;
    
}

.breadcrumb > li {
    color: #f3f7fc !important;
}

/* side panels */

.panel {
    background-color: #6a92f2 !important;
    color: #667dab !important;
    box-shadow: none !important;
    border-radius: 7px 7px 7px 7px !important;
    
}

.progress div {
    color: #f3f7fc !important;
}

.progress-bar {
    background: #aee762;
    border-radius: 7px 7px 7px 7px !important;
}

.progress {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 7px 7px 7px 7px !important;
}


.panel-default .small {
    color: #f3f7fc !important;
}


.col-xs-12 .visible-lg .small {
    color: #f3f7fc !important;
}

div.panel-body.small {
    color: #f3f7fc !important;
}

.b.floatleft {
    color: #f3f7fc !important;
}


.b.floatright {
    color: #f3f7fc !important;
}

/* topbar */

.topbar {
    background-color: #6a92f2;
    color: #f3f7fc !important;
    font-size: 20px;
    height: 50px;
    border-radius: 0px 0px 7px 7px !important;
}

/* links */

a {
    color: #b0def8 !important;
    -webkit-transition: color ease-in-out 777ms;
}

.breadcrumb a {
    color: #b0def8 !important;
    -webkit-transition: color ease-in-out 777ms;
}

.breadcrumb>li+li:before {
    color: #f3f7fc !important;
}

a:hover {
   -webkit-transition: color ease-in-out 777ms;
    color: #d9dff7 !important;
}

/* comment box */

#commentBox {
   background-color: rgba(255,255,255,0.1) !important;
    border-radius: 7px 7px 7px 7px !important;
}

#comment {
    border-radius: 7px 7px 7px 7px !important;
}

.xlarge.b {
    color: #aee762 !important;
}

#commentBox::before {
color: #f3f7fc;
display: block;
padding: 7px !important;
font-size: 24px;
}

div#commentBox {
height: 45px;
overflow-y: hidden !important;
transition: 1s;
}

#commentBox:hover {
height: 300px !important;
transition: 1s;
overflow: auto !important;
}

#comment {
      background: #d9dff7 !important;
}

/* buttons and text boxes */

select {
    border-radius: 7px 7px 7px 7px !important;
}

#editdetailspanel .right input {
      background: #d9dff7 !important;
}

select {
      background: #d9dff7 !important;
}

button.button {
     border-radius: 7px 7px 7px 7px !important;
}

input {
     border-radius: 7px 7px 7px 7px !important;
}

#changepasswordpanel .right input {
      background: #d9dff7 !important;
}

.button {
    background: rgba(0,0,0,0.1) !important;
    color: #f3f7fc !important;
}

input {
    border-radius: 7px 7px 7px 7px !important;
    background: rgba(0,0,0,0.1) !important;
    color: #f3f7fc !important;
}

textarea {
   background: #d9dff7 !important; 
    border-radius: 7px !important;
}

select {
    border-radius: 7px 7px 7px 7px !important;
    background: rgba(0,0,0,0.1) !important;
    color: #f3f7fc !important;
}

option:checked {
  background: #aee762 !important;
}

option:hover {
  background: #aee762 !important;
}

center > .table th {
    color: #aee762 !important;
}
/* panel bars */

.top, th {
    background-color: #6a92f2 !important; !important;
    border-radius: 7px 7px 0px 0px !important;
}    

.bottom, th {
    border-radius: 0px 0px 7px 7px !important;
}

#about .bottom {
    background-color: #6a92f2;
    color: #f3f7fc !important;
}

#player .top {
    background-color: #6a92f2;
    color: #667dab;
}

#sparring th {
    background-color: #6a92f2;
    color: #aee762 !important;
    border-radius: 7px 7px 0px 0px !important;
}

#allies .top {
    background-color: #6a92f2 !important; !important;
    color: #aee762 !important;
}

#allies .bottom {
    background-color: #6a92f2;
}

#clans .top {
    background-color: #6a92f2;
    color: #667dab;
}

.table > tbody > tr > th {
    background-color: #6a92f2;
    color: #667dab;
    border-radius: 7px 7px 0px 0px !important;
}

#editdetailspanel .bottom {
    background-color: #6a92f2;
    color: #667dab;
}

#accountoptionspanel .bottom {
    background-color: #6a92f2;
    color: #667dab;
}

#changepasswordpanel .bottom {
    background-color: #6a92f2;
}

table .bottom {
    background-color: #6a92f2 !important; !important;
    border-radius: 0px 0px 7px 7px !important;
}

/* main lion panel */

#about {
   background-color: rgba(255,255,255,0.1) !important;
    border-radius: 7px 7px 7px 7px !important;
}

#about .left {
    background-color: #6a92f2;
    color: #667dab;
    border-radius: 7px 0px 0px 7px !important;
}

#about .auto .right {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 0px 7px 7px 0px !important;
}

#about .left b {
    color: #f3f7fc !important;
}

.xlarge.b > :nth-child(1) {
    font-size: 18px !important;
}

.xlarge.b {
    font-size: 0px;
}

.xlarge.b::after {
    content: ', the silly' !important;
    font-size: 18px;
}

/* player panel */

#player {
   background-color: rgba(255,255,255,0.1) !important;
    border-radius: 7px 7px 7px 7px !important;
}

#player .left {
    background-color: #6a92f2;
    color: #667dab;
}

#player .auto .right {
    background: rgba(0, 0, 0, 0.1);
}

hr {
    display: none !important;
}

.top > small {
    color: #aee762 !important;
}


#player b {
    color: #f3f7fc !important;
}

#player > tbody > tr.right > :nth-child(1) > table.inner-table.auto > tbody > tr > :nth-child(5) {
    font-size: 0px;
}

#player > tbody > tr.right > :nth-child(1) > table.inner-table.auto > tbody > tr > :nth-child(5)::after {
    content: 'too recently';
    font-size: 14px;
}

.top .floatright {
    color: #aee762 !important;
}

.xlarge .text-muted {
    color: rgba(0,0,0,0) !important;
}

.member-offline {
    background: rgba(0,0,0,0.1) !important;
}

.member-online {
    background: #aee762 !important;
}

/* caves and mounds */

.cave-grid {
    color: #f3f7fc !important;
    background-color: #6a92f2;
    border-radius: 7px 7px 7px 7px !important;
}

.mound-grid {
    color: #f3f7fc !important;
    background-color: #6a92f2;

}

/* bottom panels */

#sparring > tbody > tr > td.right_odd {
    display: block !important;
    background: rgba(0, 0, 0, 0.1);
}

#sparring {
   background-color: rgba(255,255,255,0.1) !important;
    border-radius: 7px 7px 7px 7px !important;
}

.right_odd {
    display: none !important;
}

.table .right_odd {
    display: none !important;
}

#allies {
   background-color: rgba(255,255,255,0.1) !important;
    border-radius: 7px 7px 7px 7px !important;
}

#clans {
   background-color: rgba(255,255,255,0.1) !important;
    border-radius: 7px 7px 7px 7px !important;
}

#clans .left {
    background: rgba(0, 0, 0, 0) !important;
}

form div.left {
     background-color: #6a92f2;
}

/* dynasty and stuff */

.dynastylist .left {
    background-color: #6a92f2;
}

.col .left {
    background-color: #6a92f2;
	
}

.left img {
    border-radius: 7px 7px 7px 7px !important;
}

/* reclaim */

.b.center {
    background: rgba(0,0,0,0.1);
}

table#reclaim.table {
    background-color: rgba(255,255,255,0.1) !important;
    border-radius: 7px;
}

/* settings */

#editdetailspanel .table {
   background-color: rgba(255,255,255,0.1) !important;
	border-radius: 0px 0px 7px 7px;
}

#editdetailspanel .b {
    background: rgba(0, 0, 0, 0.1);
    color: #667dab !important;
}

#accountoptionspanel .table {
   background-color: rgba(255,255,255,0.1) !important;
    border-radius: 0px 0px 7px 7px !important;
}

#accountoptionspanel .left {
    background: rgba(0, 0, 0, 0.1);
}

.item-header {
    background-color: #6a92f2;
    color: #f3f7fc !important;
}

.floatleft.small {
   background: rgba(0, 0, 0, 0.1);
}

#changepasswordpanel .b {
    background: rgba(0, 0, 0, 0.1);
	color: #667dab !important;
}

#changepasswordpanel .table {
   background-color: rgba(255,255,255,0.1) !important;
    border-radius: 0px 0px 7px 7px !important;
}

input:checked + .slider {
   background: #aee762 !important;
}

.slider {
    background: rgba(0,0,0,0.1) !important;
}

.slider.round::before {
    background: rgba(0,0,0,0.1) !important;
}

/* don't remember genuinely */

small.text-muted {
    color: #667dab !important;
}

/* chat */

div#chatMessageContainer {
	color: #667dab !important;
}

/* attack */

#attack {
   background-color: rgba(255,255,255,0.1) !important;
    border-radius: 7px 7px 7px 7px !important;
}

#attack .bottom {
    background-color: #6a92f2 !important; !important;
}

/* bottom text  */

.white.visible-sm {
    color: #f3f7fc !important;
    text-shadow: none !important;
}

.white.visible-xs {
    color: #f3f7fc !important;
    text-shadow: none !important;
}

.clear.visible-sm {
	 color: #f3f7fc !important;
}

/* alerts */

.alert {
    background: rgba(0, 0, 0, 0.1) !important;
    border-radius: 7px 7px 7px 7px !important;
    color: #667dab !important;
}


#clans .top {
    color: #aee762 !important;
}


form th {
    color: #aee762 !important;
}

/* box */

.boxcontainer {
display: flex;
justify-content: center;
align-items: center;
margin: auto;
border-radius: 7px 7px 7px 7px !important;
}

.coolbox {
width: 330px;
height: 115px;
overflow: hidden;
background-color: #6a92f2 !important;
transition: width 1s, height 2s;
border-radius: 7px 7px 7px 7px !important;
color: #f3f7fc !important;
margin: 20px;
margin-bottom: auto;
    -webkit-transition: background-color ease-in-out 777ms !important;
}

.coolbox2 {
width: 250px;
height: 115px;
overflow: hidden;
background-color: #6a92f2 !important;
transition: width 1s, height 2s;
border-radius: 7px 7px 7px 7px !important;
color: #f3f7fc !important;
margin: 20px;
margin-bottom: auto;
    -webkit-transition: background-color ease-in-out 777ms !important;
}

/* scrollbars */

::-webkit-scrollbar {
  width: 10px !important;
  border: none !important;
    background-color: #6a92f2 !important; !important;
}

div::-webkit-scrollbar {
  width: 10px !important;
  border: none !important;
    background-color: #6a92f2 !important; !important;
    border-radius: 7px !important;
}

textarea::-webkit-scrollbar {
  width: 10px !important;
  border: none !important;
    background-color: #6a92f2 !important; !important;
    border-radius: 7px !important;
}

::-webkit-scrollbar-track {
  background-color: #6a92f2;
    border-radius: 7px !important;
}

::-webkit-scrollbar-thumb {
  background: #aee762;
     border-radius: 7px !important;
}

::-webkit-scrollbar-corner {
    background-color: #6a92f2;
}

#commentBox::-webkit-scrollbar {
    display: none !important;
}

/* images */

.lion-image-block img {
    border-radius: 7px 7px 7px 7px !important;
    content: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e57c0ca5-c162-43e7-b0dc-40f215c30321/dks6a8z-2bb6a125-d3ae-4b1d-bb74-8577400ebb3c.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiIvZi9lNTdjMGNhNS1jMTYyLTQzZTctYjBkYy00MGYyMTVjMzAzMjEvZGtzNmE4ei0yYmI2YTEyNS1kM2FlLTRiMWQtYmI3NC04NTc3NDAwZWJiM2MuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Yg8SDrkEZsc3v1UjKaJUI851xokwFykcgjYbgCyQy3U");
    max-width: 200px;
}

.right .right img {
content: url("");
    max-width: 100px;
}

.lion-image-block[data-image-type="headshot"] {
	border-radius: 7px 7px 7px 7px !important;
}

.cave-grid img {
    border-radius: 7px 7px 0px 0px !important;
}

.mound-grid img {
    border-radius: 7px 7px 7px 7px !important;
    content:url("https://archives.bulbagarden.net/media/upload/e/eb/BugIC_RS.png");
}

.bigger img {
    border-radius: 7px 7px 7px 7px !important;
}

.navbar-brand img {
	display: none !important;
    content: url("https://static.unboundwiki.com/wp-content/assets/images/2024/12/litleo-scaled-1.png") !important;
    max-width: 150px;
    max-height: 110px;
    margin-left: 750px;
    margin-top: 130px;
    position: absolute;
}

.birb {
    position: relative;
    z-index: 1;
    bottom: 200px;
    left: 300px;
    border: 2px black solid;
}

.birb img {
    max-height: 100px !important;
}

.player img {
	border-radius: 7px !important;
}

@media screen and (max-width: 700px) {
  .birb {
    visibility: hidden;
    display: none;
  }
}
/* chatbox */

div#txtChatContainer > div > span > a {
    color: #b0def8 !important;
    -webkit-transition: color ease-in-out 777ms;
}

div#txtChatContainer > div > span > a::hover {
    color: #d9dff7 !important;
    -webkit-transition: color ease-in-out 777ms;
}

input#txtChatInput {
    background: #d9dff7 !important;
    color: #667dab !important;
}

input#btnChatSend {
   background-color: rgba(255,255,255,0.1) !important;
    color: #667dab !important;
}

div#chatMessageContainer {
	border-radius: 7px 7px 7px 7px !important;
   background-color: rgba(255,255,255,0.1) !important;
    color: #667dab !important;
}

.s-chat-message:nth-child(even) {
	background-color: rgba(0,0,0,0.1) !important;
    color: #667dab !important;
}
.s-chat-message:nth-child(odd) {
	background: rgba(0, 0, 0, 0.1) !important;
    color: #667dab !important;
}
.s-chat-message__pinned {
	background-color: #6a92f2 !important; !important;
    color: #aee762 !important;
}
.s-chat-message_timestamp {
    color: #667dab !important;
}

div.channelMenu {
    background: #C9CBA3 !important;
    color: #667dab !important;
}







